
@font-face {
    font-family: 'myfonts';
    src: url('Assets/Font/Renegade\ Pursuit.otf') format('truetype');

  }

  /* Menggunakan font di seluruh halaman */
  body {
    font-family: 'myfonts', sans-serif;

  }

  :root{
    --primarycolor: #fff;
    --boredercolor: #ffffff;
    --textcolor1: #ffffff;
    --textcolor2: #252525;

}

.mainbox{
    width: 1920px;
    height: 367px;

    display: flex;
    flex-direction: column;
}

.upper{
    width: 1920px;
    height: 92.5px;
    background-image: url(Assets/Other/draftbgtop.png);
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px var(--boredercolor);
    box-sizing: border-box;
}

.lower{
    width: 1920px;
    height: 274.5px;
    background-image: url(Assets/Other/draftbg.png);
    background-size: 100%;

    display: flex;
}

.upperside{
    width: 725px;
    height: 92.5px;
    border: solid 1px var(--boredercolor);
    box-sizing: border-box;
    display: flex;
}

.uppermid{
    width: 470px;
    height: 92.5px;
    border-left: solid 1px var(--boredercolor);
    border-right: solid 1px var(--boredercolor);
    box-sizing: border-box;
    display: flex;
    background-image: url(Assets/Other/tourlogo.png);
    background-size: 100%;
}

.bantextbox{
    width: 50px;
    height: 92.5px;

}

.banholder{
    width: 400px;
    height: 92.5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.teamnameholder1{
    width: 400px;
    height: 92.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: var(--textcolor1);
    text-align: left;

}

.teamnameholder2{
    width: 400px;
    height: 92.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: var(--textcolor1);
    text-align: right;

}




.banhero{
    width: 74px;
    height: 74px;
    position: relative;
    margin: 3px;
    overflow: hidden;
    border: solid 1px var(--boredercolor);
    background-image: url(Assets/Other/bab2.png);
    background-size: 100%;
}

.banhero img{
    width: 74px;
    height: 74px;
    object-fit: contain;
    scale: 3;
    margin-top: 50px;
    filter: grayscale();
}

.lowerside{
    width: 725px;
    height: 274.5px;

    display: flex;
    flex-direction: column;
}

.pickholder{
    width: 725px;
    height: 227px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nickholder{
    width: 725px;
    height: 47.5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.lowermid{
    width: 470px;
    height: 274.5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px var(--boredercolor);
    box-sizing: border-box;

}

.heropick{
    width: 147px;
    height: 227px;
    position: relative;
    border: solid 1px var(--boredercolor);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heropick img{
    width: 147px;
    height: 227px;
    object-fit: contain;
    scale: 1.03;
}

.playername{
    width: 147px;
    height: 47.5px;
    background-color: var(--textcolor2);
    border: solid 1px var(--boredercolor);
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    columns: var(--textcolor1);
    color: var(--boredercolor);
}


.upperlowermid{
    width: 470px;
    height: 179px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.teamlogo{
    width: 102px;
    height: 102px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url(Assets/Other/teamframe.png);
    background-size: 100%;
}

.teamlogo img{
    width: 102px;
    height: 102px;
    object-fit: contain;
    scale: 0.8;
}

.score{
    width: 45px;
    height: 45px;

    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--boredercolor);
    font-size: 50px;
    
}

.vs{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;
    color: var(--boredercolor);
}

.lowerlowermid{
    width: 470px;
    height: 95.5px;

    display: flex;
    flex-direction: column;
    align-items: center;

}


.timerbar{
    width: 420px;
    height: 10px;
    background-color: var(--textcolor2);
}

#timer-bar {
    width: 420px;
    height: 10px;
    background-color: var(--boredercolor);
    position: relative;
    left: 50%;
    transform: translateX(-50%) scaleX(1);
    transition: none;
    transition: 0.3s; 
}

.arrow{
    width: 470px;
    height: 84px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow img{
    scale: 0.23;
}

.countdown{
    width: 70px;
    height: 30px;
    background-color: var(--boredercolor);
    margin-top: -114px;
    font-size: 20px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--textcolor2);
}
/*phasing*/

.draft-container { display: flex; flex-wrap: wrap; justify-content: center; gap: 10px; margin-top: 20px; }
.box { 
    width: 1000px; 
    height: 4000px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 18px; 
    font-weight: bold;
    transition: 0.3s; 
    margin-left: -200px;
    margin-top: -100px;
}
    
.ban0 {display: flex; }
.pick { display: flex; position: absolute; }
.active-ban { background-color: rgb(156, 11, 11); color: white ; animation: breathe 1.5s infinite alternate; }
.active-pick { background-color: rgb(255, 255, 255); color: white; animation: breathe 1.5s infinite alternate; }
@keyframes breathe {
    0% { transform: scale(1.1); opacity: 0.3; }
    100% { transform: scale(1.1); opacity: 0.5; }
}

.audiob{
    margin-top: 100px;
}

/*Hero*/
.image-container {
    display: flex;

}

.image-box{
    position: absolute;
    width: 100%;
    height: 100%;
}

.image-box img {
    width: 100%;
    opacity: 0;
    transform: translateY(150%);
    transition: transform 2s ease-in-out, opacity 2s;
    position: relative;
    z-index: 2;
    position: absolute;
}
.image-box.show img {
    transform: translateX(0%);
    opacity: 1;
    position: absolute;
}


.clone-image-box img {
   
    opacity: 0;
    transition: opacity 1s ease-in-out;
    transition-delay: 2s;
}
/* Animasi untuk clone */
.clone-animate {
    transition-delay: 1s;
    animation: fadeInScale 1s ease-out forwards;
}
@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}


.hide{
    width: 0px;
    height: 0px;
    display: none;
    opacity: 0;
    font-size: 0px;
    overflow: hidden;
}

.name-image-box{
    position: absolute;
    z-index: 1;
    scale: 1.3;
    margin-top: 100px;
}

.lanelogo{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}

.lanelogo img{
    filter: invert();
    width: 70%;
    height: 70%;
    object-fit: contain;
}